{% extends 'base.html' %}

{% block content %}
    <h2>package list</h2>

    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
    <table style="width:100%">
    <tr>
        <th>nodename</th>
        <th>node </th>
    </tr>
    {% for node in nodes %}
        <tr>
            <td>{{ node[0] }}</td>
            {% autoescape false %}
            <td>{{ node[1] }}</td>
            {% endautoescape %}
        </tr>
    {% endfor %}
    </table>
    {{ hosturl }}
{% endblock %}